<!-- views/index.ejs  -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <div class="middle">
      <%- include('./partials/navbar') %>
      <br />
      <h1><%= title %></h1>
      <br />
      <p>
        Hello and welcome to my APP Odenite! After singing up you will need to
        log in to upload files. I am using microsoft azure blob storage as my
        cloud and railway as my Paas. IT WORKS!
      </p>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
