<!-- views/upload.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Upload File</title>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
  </head>
  <body>
    <div class="middle">
      <%- include('./partials/navbar') %>
      <br />
      <h1>Upload a File</h1>
      <br />

      <% if (message) { %>
      <p style="color: green"><%= message %></p>
      <% } %> <%- include("partials/errors.ejs") %>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choose a file to upload:</label>
        <br />
        <input type="file" id="file" name="file" required />
        <br /><br />
        <button type="submit">Upload</button>
      </form>

      <br />
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
